#root {
    height: 100%;
}

#main {
    height: 1fr;
}

#left, #right {
    width: 1fr;
    border: round green;
    padding: 1;
}

#left {
    layout: vertical;
    padding: 1;
}

#left Input {
    width: 100%;
}

#left Button {
    width: 100%;
    margin-top: 1;
}

.label {
    text-style: bold;
}

#preview {
    height: auto;
    min-height: 1;
    border: round yellow;
    padding: 1;
    content-align: left middle;
}

