#root {
    height: 100%;
}

#main {
    height: 1fr;
}

#left, #right {
    width: 1fr;
    border: round green;
    padding: 1;
}

#left {
    layout: vertical;
    gap: 1;
}

#left Input {
    width: 100%;
}

.label {
    text-style: bold;
}

#preview {
    height: 3;
    dock: bottom;
    border: round yellow;
    padding: 1;
}
